@import "variables.module.scss";

.chatRoom {
    padding: 0px;
    margin: 0px;
    height: 100%;
    width: 100%;
    background: $neutral;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    .container {
        height: 100%;
        display: flex;
        flex-direction: column;
        overflow: hidden;

        .messages {
            overflow: auto;
            display: flex;
            flex-direction: column-reverse;
            padding-right: 5px;
            width: 100%;
            width: 100%;
            height: 100%;
            padding: 0rem 2rem;
        }
    }
    .gifPanel {
        resize: vertical;
        background-color: $light;
        position: absolute;
        border-radius: 5px;
        max-height: 80vh;
        min-height: 35vh;
        height: 35vh;
        width: 100%;
        bottom: 140%;
        overflow: auto;
        left: 0;
        .giphy-search-bar {
            input {
                background: $light;
            }
            margin-bottom: 3px;
        }
        .giphy-grid {
            margin: auto;
        }
    }
    .uploaded-image-preview {
        background-color: $light;
        position: absolute;
        width: 40vw;
        max-height: 60vh;
        max-width: 100%;
        bottom: 140%;
        right: 0;
        padding: 1rem;
        border-radius: 5px;
        overflow: hidden;
        img {
            height: 100%;
            width: 100%;
        }
        .overlay {
            display: flex;
            justify-content: center;
            align-items: center;
            content: "Click to remove";
            background-color: $dark;
            cursor: pointer;
            height: 100%;
            width: 100%;
            color: $light;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            opacity: 0;
            transition: all ease 0.3s;
        }
        &:hover {
            .overlay {
                opacity: 100%;
            }
        }
    }
    .inputPanel {
        position: relative;
        height: fit-content;
        width: auto;
        padding: 5px;
        margin: 10px 2rem;
        display: flex;
        gap: 10px;
        justify-content: space-between;
        align-items: center;
        border-radius: 10px;
        background: $light;
        $button-height: calc(3rem - 12px);
        textarea {
            border: 0px;
            outline: none;
            font-size: 1.3rem;
            padding: 0px 5px;
            padding: 0px;
            width: 100%;
            height: fit-content;
            background: transparent;
            transition: all ease 0.1s;
            resize: none;
        }
        .panel-btn {
            height: $button-height;
            width: $button-height;
            padding: 0px;
            margin: 0px;
            border: 0px;
            border-radius: 10px;
            background: transparent;
            display: flex;
            align-items: center;
            justify-content: center;
            align-self: center;
            transition: all ease 0.3s;
            cursor: pointer;
            &.active {
                background: $dark;
                opacity: 90%;
                color: white;
                ion-icon {
                    color: white;
                }
            }
        }
        label {
            input[type="file"] {
                display: none;
            }
        }
    }
}

@media screen and (max-width: 700px) {
    .chatRoom {
        .container {
            padding: 10px;
        }
        .inputPanel {
            margin: 10px 10px;
        }
    }
}

@media screen and (min-width: 1000px) {
    .chatRoom {
        .inputPanel {
            .panel-btn {
                &:hover {
                    background: $dark;
                    opacity: 90%;
                    color: white;
                    ion-icon {
                        color: white;
                    }
                }
            }
        }
    }
}
