@import "variables.module.scss";

.chatRoom {
    padding: 0px;
    margin: 0px;
    height: 100%;
    width: 100%;
    background: $neutral;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    

    .container {
        height: 100%;
        display: flex;
        flex-direction: column;
        overflow: hidden;

        .messages {
            overflow: auto;
            display: flex;
            flex-direction: column-reverse;
            padding-right: 5px;
            width: 100%;
            width: 100%;
            height: 100%;
            padding: 0rem 2rem;        
        }
    }
    .inputPanel {
        // overflow: hidden;
        height: fit-content;
        width: auto;
        padding: 5px;
        margin: 10px 2rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-radius: 10px;
        background: $light;
        textarea {
            border: 0px;
            outline: none;
            font-size: 1.3rem;
            padding: 0px 5px;
            padding: 0px;
            width: 100%;
            height: fit-content;
            background: transparent;
            transition: all ease 0.1s;
            resize: none;
        }
        button {
            height: calc(3rem - 12px);
            width: calc(3rem - 12px);
            padding: 0px;
            margin: 0px;
            border: 0px;
            border-radius: 10px;
            background: transparent;
            display: flex;
            align-items: center;
            justify-content: center;
            align-self: center;
            transition: all ease 0.3s;
            cursor: pointer;
        }
    }
}

@media screen and (max-width: 700px) {
    .chatRoom {
        .container {
            padding: 10px;
        }
        .inputPanel {
            margin: 10px 10px;
        }
    }
}

@media screen and (min-width: 1000px) {
    .chatRoom {
        .inputPanel {
            button {
                &:hover {
                    background: $dark;
                    opacity: 90%;
                    color: white;
                    ion-icon {
                        color: white;
                    }
                }
            }
        }
    }
}
