.zoom-button {
    $tr: 4px;

    transition: ease 0.3s all;
    box-shadow: 0px 0px 0px $very-dark;
    cursor: pointer;

    &:hover {
        transform: translate(-$tr, -$tr);
        box-shadow: $tr $tr 0px $very-dark;
    }
}

.zoom-input {
    $tr: 4px;

    transition: ease 0.3s all;
    box-shadow: 0px 0px 0px $very-dark;

    &:focus {
        transform: translate(-$tr, -$tr);
        box-shadow: $tr $tr 0px $very-dark;
    }
}
