.zoom-input {
    $tr: 4px;

    transition: ease 0.3s all;
    box-shadow: 0px 0px 0px $very-dark;

    &:focus {
        transform: translate(-$tr, -$tr);
        box-shadow: $tr $tr 0px $very-dark;
    }
}

.button {
    $tr: 4px;
    height: 3.2rem;
    width: 3.2rem;
    background: $dark;
    color: $light;
    border: 0px;
    border-radius: 8px;

    transition: ease 0.3s all;
    box-shadow: 0px 0px 0px $very-dark;
    cursor: pointer;

    &:hover {
        transform: translate(-$tr, -$tr);
        box-shadow: $tr $tr 0px $very-dark;
    }
    ion-icon {
        margin: auto;
        width: 50%;
        height: 50%;
        color: $neutral;
    }
}

.customScrollbar {
    &::-webkit-scrollbar {
        width: 6px;
        background: transparent;
    }
    &::-webkit-scrollbar-track {
        background: transparent;
    }
    &::-webkit-scrollbar-thumb {
        border-radius: 50px;
        background: rgba($color: $dark, $alpha: 0.4);
    }
}
