.homePage {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 3rem;
        input {
            height: 3.2rem;
            max-width: 80vw;
            background-color: $light;
            border: 2px $dark solid;
            border-radius: 8px;
            padding: 3px 15px;
            font-size: 2.5rem;
            outline: none;
        }
    }
}
